ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    float: left;
}

ul li a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
}

ul li a:hover{
    background-color: #3bd28f;
}

img{
max-width: 100px; 
max-height: 100px;}

.header{
    max-width: 1900px;
    background: #3bd28f;
}

footer{
    position: fixed;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 100%;
    background-color: #3bd28f;
}
   
   
    


